In [31]:
# QUESTION 1

In [32]:
# Q1. Explain with an example each when to use a for loop and a while loop.

# SOLUTION 1

In [33]:
# sum of even no upto 100 using  " for loop "

In [34]:
sum = 0
i=0
for i in range (0, 101):
    if i%2==0:
        sum=sum+i
sum

2550

In [35]:
# write a cube of first 10 natural number

In [36]:
n = int(input("enter a number"))
i=1
while i<=n:
    result= i**3
    i=i+1
    print(result)

enter a number 10

1
8
27
64
125
216
343
512
729
1000

# solution 2

In [37]:
# Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
# and while loop.

# sum

In [38]:
n= list(range(0,11))
i =0
sum=0
for i in n:
    sum = sum + i
    i = i+1
sum

55

In [39]:
n= int(input ("enter a num"))
i=0
sum=0
while i<=n:
    sum = sum + i
    i = i+1
    
sum

enter a num 10

55

# product

In [40]:
l=[1,2,3,4,5,6,7,8,9,10]
result=1
for i in l:
    result = result * i
    i= i+1
result

3628800

In [41]:
n= int(input ("enter a num"))
i=1
product=1
while i<=n:
    product = product * i
    i = i+1
    print(product)

enter a num 5

1
2
6
24
120

# solution 3

In [ ]:
# Q3. Create a python program to compute the electricity bill for a household.

#The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
#unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
#be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
#You are required to take the units of electricity consumed in a month from the user as input.
#your program must pass this test case: when the unit of electricity consumed by the user in a month is
#310, the total electricity bill should be 2250.

In [65]:
electricity_consumed = int(input("Enter your electricity consumption: "))

if electricity_consumed <= 100:
    total_bill = electricity_consumed * 4.5
elif electricity_consumed <= 200:
    total_bill = 100 * 4.5 + (electricity_consumed - 100) * 6
elif electricity_consumed <= 300:
    total_bill = 100 * 4.5 + 100 * 6 + (electricity_consumed - 200) * 10
else:
    total_bill = 100 * 4.5 + 100 * 6 + 100 * 10 + (electricity_consumed - 300) * 20

print(total_bill)

Enter your electricity consumption:  310

2250.0

In [ ]:
# Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
# number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
# that list.

In [4]:
l1=list(range(1,101))

In [7]:
for i in l1:
    cube = i**3
    i=i+1
    print(cube)

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
1000000

In [12]:
s= int(input("enter a number"))
i=1
while i<=s:
    cube = i**3
    i=i+1
    print(cube)

enter a number 100

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
1000000

In [1]:
s= int(input("enter a number"))
i=1
l2=[]
while i<=s:
    cube = i**3
    i=i+1
    print(cube)
    if cube%4==0 or cube%5==0:
        l2.append(i)
print(l2)

enter a number 100

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
1000000
[3, 5, 6, 7, 9, 11, 13, 15, 16, 17, 19, 21, 23, 25, 26, 27, 29, 31, 33, 35, 36, 37, 39, 41, 43, 45, 46, 47, 49, 51, 53, 55, 56, 57, 59, 61, 63, 65, 66, 67, 69, 71, 73, 75, 76, 77, 79, 81, 83, 85, 86, 87, 89, 91, 93, 95, 96, 97, 99, 101]

In [ ]:
# solution 5

In [2]:
# Q5. Write a program to filter count vowels in the below-given string.
# string = "I want to become a data scientist"

In [7]:
string = "I want to become a data scientist"
vowels = "aeiou"
vowel_count = 0

for char in string:
    if char.lower() in vowels:
        vowel_count += 1

print("Number of vowels in the string:", vowel_count)

Number of vowels in the string: 12